<h1>Pokedex</h1>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= image_tag pokemon.sprite %>
      <h3><%= pokemon.name %></h3>
      
      <%# Details link passing :id %>
      <%= link_to "Details", pokemon_path(id: pokemon.id) %>
    </li>
  <% end %>
</ul>